## Clojure
.cpcache
.lsp
.nrepl*
.target
.rebel*
*.swp
deps/
build
.idea
*.iml
.calva
.vscode
.clj-kondo
.nrepl-port

## oauth2
OAUTH2.edn

## build
target

## figwheel
main.js

## datalevin
datalevin

# misc
.DS_Store
