{:deps    {;; front-end
           com.bhauman/figwheel-main             {:mvn/version "0.2.18"}
           org.clojure/clojurescript             {:mvn/version "1.11.60"}
           reagent/reagent                       {:mvn/version "1.1.1"}
           cljsjs/react                          {:mvn/version "18.2.0-0"}
           cljsjs/react-dom                      {:mvn/version "18.2.0-0"}
           markdown-to-hiccup/markdown-to-hiccup {:mvn/version "0.6.2"}
           cljs-ajax/cljs-ajax                   {:mvn/version "0.8.4"}
           re-frame/re-frame                     {:mvn/version "1.3.0"}
           day8.re-frame/http-fx                 {:mvn/version "0.2.4"}
           day8.re-frame/test                    {:mvn/version "0.1.5"}

           ;; both fron-end and back-end
           metosin/malli                         {:mvn/version "0.8.9"}
           metosin/reitit                        {:mvn/version "0.5.18"}
           metosin/muuntaja                      {:mvn/version "0.6.8"}
           flybot-sg/lasagna-pull                {:git/url "https://github.com/flybot-sg/lasagna-pull.git"
                                                  :sha     "ed0258e6293e972ba2c886939cef59c4ebbd7f89"}

           ;; back-end
           aleph/aleph                           {:mvn/version "0.5.0"}
           robertluo/fun-map                     {:mvn/version "0.4.5"}
           com.datomic/datomic-free              {:mvn/version "0.9.5697"}
           clj-time/clj-time                     {:mvn/version "0.15.2"}

           ;; work around to resolve the dep conflict introduced by datomic
           com.google.guava/guava                {:mvn/version "31.0.1-jre"}}
 :paths   ["dev/src" "src" "src/clj" "src/cljc" "test" "test/clj" "test/cljs" "test/cljc" "src/cljs" "target" "resources"]
 :aliases
 {:dev
  {:main-opts ["--main"  "figwheel.main"
               "--build" "dev"
               "--repl"]}
  :prod
  {:main-opts ["--main"       "figwheel.main"
               "--build-once" "prod"]}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
   :ns-default build}}}