;; Image config to create the image and push it to ECR
{:main           flybot.server.core
 :aliases        [:jvm-base]
 :user          "root"
 :group         "root"
 :base-image   {:image-name "openjdk:11-slim-buster"
                :type       :registry}
 :target-image {:image-name "$ECR_REPO"
                :type       :registry
                :tagger     {:fn jibbit.tagger/tag} ;; can comment to push images with unclean git dir for testing
                :authorizer {:fn jibbit.aws-ecr/ecr-auth
                             :args {:type   :environment
                                    :region "ap-southeast-1"}}}}