#kaocha/v1
 {:tests [{:id         :unit
           :test-paths ["common/test" "server/test"]}]
  :plugins [:kaocha.plugin/profiling
            :kaocha.plugin/notifier
            :kaocha.plugin/cloverage]
  :cloverage/opts {:codecov? true
                   :test-ns-regex ["test.*"]
                   :src-ns-path ["server" "common"]}}
