{:env     :dev ;; can be either :dev or :prod
 :systems {:prod     {:http-port       8123
                      ;; note the initial `/` because prod-system is run in a container
                      :db-uri          "/datalevin/prod/flybotdb"
                      :oauth2-callback "https://flybot.sg/oauth/google/callback"}
           :dev      {:http-port       8123
                      :db-uri          "datalevin/dev/db"
                      :oauth2-callback "http://localhost:8123/oauth/google/callback"}
           :figwheel {:db-uri          "datalevin/figwheel/db"
                      :oauth2-callback "http://localhost:9500/oauth/google/callback"
                      ;; where the user is redirected after oatuh2:
                      ;; "flybot-app://" for mobile
                      ;; default to "/" for web
                      :client-root-path "/"}
           :test     {:http-port       8100
                      :db-uri          "datalevin/test/db"}}
 :oauth2 {:google-creds {:client-id     "secret"
                         :client-secret "secret"}}
 :owner #:user{:id    "google-personal-acc-id" ;; replace with your google acc id
               :email "bob@company.com"
               :name  "Bob Smith"}
 }