/* vars */
:root {
    color-scheme: light dark;

    /* common */
    --link-primary-color: #38bdf8;
    --border-primary-color: #22c55e;
    --pulse-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    /* dark theme */
    --bg-primary-color: #18181b;
    --bg-secondary-color: #27272a;

    --text-primary-color: #bae6fd;
    --text-secondary-color: #f0f9ff;
    --text-tertiary-color: lightgray;

    --button-primary-color: black;

    --error-primary-color: #f09295;
}

:root.light {
    /* light theme */
    --bg-primary-color: #fafafa;
    --bg-secondary-color: #f0f9ff;

    --text-primary-color: #0ea5e9;
    --text-secondary-color: #18181b;
    --text-tertiary-color: grey;

    --button-primary-color: white;

    --error-primary-color: #991b1b;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right, var(--bg-secondary-color) 15%, var(--bg-primary-color) 85%);
    color: var(--text-secondary-color);
}

@media(max-width: 1024px) {
    body {
        background-image: linear-gradient(to right, var(--bg-secondary-color), var(--bg-primary-color));
    }
}

header,
section,
footer {
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-transform: capitalize;
}

h1 {
    font-size: 1.7rem;
    background-color: var(--text-primary-color);
    color: var(--bg-secondary-color);
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-primary-color);
    border-top: none;
}

@media (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    h1 {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 1.6rem;
    color: var(--text-primary-color);
    text-transform: uppercase;
}

h3 {
    font-size: 1.3rem;
    color: var(--text-secondary-color);
}

h4 {
    color: var(--text-primary-color);
}

h5 {
    color: var(--text-secondary-color);
}

h6 {
    color: var(--text-primary-color);
}

p,
pre{
    padding: 0.5rem 0rem;
}

a {
    display: inline-block;
    padding: 0.5rem 0rem;
    color: var(--link-primary-color);
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding-bottom: 0.5rem;
}

li a {
    padding: 0;
}

button {
    padding: 0.5rem;
    background-color: var(--bg-primary-color);
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--text-primary-color);
}

img,
svg {
    display: block;
    margin: auto;
}

img {
    max-width: 80%;
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* Form */

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: center;
}

@media (max-width: 1024px) {
    form {
        display: block;
    }
}

form fieldset {
    width: 100%;
    border: none;
    margin: 0.3rem 0;
}

form legend {
    font-size: 1.3rem;
    color: var(--text-primary-color);
}

form input, textarea, select {
    min-width: 30%;
    margin: 1rem 0.5rem;
    color: var(--text-secondary-color);
    background-color: var(--bg-secondary-color);
    padding: 0.3rem;
}

form textarea {
    margin: 1rem 0rem;
    width: 100%;
    min-height: 50rem;
}

input[type=button] {
    padding: 0.5rem;
    color: var(--link-primary-color);
    text-transform: uppercase;
}

/* Animation */

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

/* Assets */

.flybotlogo {
    width: 4rem;
}

.user-pic {
    width: 2rem;
}

@media (min-width: 1024px) {
    .flybotlogo {
        width: 7rem;
    }

    .user-pic {
        width: 4rem;
    }
}

.header-logo, .post-header-icon{
    width: 32px;
    height: 32px;
}

.post-icon {
    width: 14px;
    height: 14px;
}

.burger {
    width: 32px;
    height: 32px;
}

svg {
    width: 250px;
}

svg:not(.Toastify *) {
    fill: var(--link-primary-color);
}

svg:hover {
    fill: var(--text-secondary-color);
}

svg.burger {
    fill: var(--text-primary-color);
}

svg.done, svg.plus {
    fill: var(--border-primary-color);
}

svg.close, svg.trash {
    fill: var(--error-primary-color);
}

/* Header */

header {
    margin: auto;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border-primary-color);
}

header .top {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

header img:hover,
svg:hover,
a:hover {
    animation: var(--pulse-animation);
}

nav {
    display: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--text-primary-color);
}

nav p {
    margin: 1.5rem;
    display: none;
}

nav a {
    margin: 1.5rem;
    text-decoration: none;
}

@media (max-width: 1024px) {
    nav {
        padding: 0;
    }

    nav a {
        display: block;
        background-color: var(--bg-primary-color);
        margin: 0;
        padding: 1rem;
        border-style: solid;
        border-color: var(--border-primary-color);
        border-width: 1px 1px 0px 1px;
    }
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }

    nav p,
    nav a {
        display: inline-block;
    }
}

nav a:hover {
    color: var(--text-secondary-color);
}

nav .active {
    color: var(--border-primary-color);
}

@media (max-width: 1024px) {
    header .burger-btn {
        display: block;
    }
}

/* Footer */

footer {
    padding: 1.5rem;
    text-align: center;
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-evenly;
    }
}

footer div {
    margin: 2.5rem;
}

footer p {
    padding: 0.2rem;
}

/* Page - all pages */

section .post {
    padding: 2.5rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

@media (max-width: 1024px) {
    section .post {
        padding: 0.5rem;
    }
}

section .post:nth-of-type(odd) {
    background-color: var(--bg-secondary-color);
    border-right-width: 1px;
    border-right-color: var(--border-primary-color);
    border-right-style: solid;
}

section .post:nth-of-type(even) {
    background-color: var(--bg-primary-color);
    border-left-width: 1px;
    border-left-color: var(--border-primary-color);
    border-left-style: solid;
}

section .post .post-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section .post:nth-of-type(odd)>.post-body {
    flex-direction: row;
}

section .post:nth-of-type(even)>.post-body {
    flex-direction: row-reverse;
}

section .post-body>div {
    padding: 1.5rem;
}

@media (max-width: 1024px) {
    section .post-body>div {
        padding: 0.5rem;
    }
}

section .post-body>.image {
    width: 30%;
    margin: auto;
}

section .post-body>.text {
    width: 60%;
}

section .post-body>.textonly {
    width: 100%;
}

section .image>img {
    max-width: 50%;
}

@media (max-width: 1024px) {
    section .post .post-body {
        padding: 0.5rem;
        display: block;
    }
    section .post-body>.image,
    section .post-body>.text {
        width: 100%;
        padding: 0.5rem;
    }
}

.post-body:hover img {
    animation: var(--pulse-animation);
}

section button {
    margin: 0.5rem;
}

/* Apply page */

@media (max-width: 1024px) {
    section .application {
        text-align: center;
    }
}

/* About Us page */

section .team {
    text-align: center;
    display: block;
}

@media (min-width: 1024px) {
    section .members {
        display: flex;
        justify-content: space-evenly;
    }

    section .members>div {
        width: 30%;
    }
}

section .team img {
    margin: 1rem;
    width: 3rem;
}

/* Post */

.post-authors {
    font-size: 0.8rem;
    overflow-x: auto;
    border-bottom: groove;
    border-bottom-width: thin;
    border-color: var(--text-tertiary-color);
    color: var(--text-tertiary-color);
}

.post-authors svg {
    fill: var(--text-tertiary-color);
}

.post-author {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .post-author {
        font-size: 0.7rem;
    }
}

.post-author>div {
    padding: 0.3rem;
}

.post-header h1 {
    text-align: center;
}

.error {
    color: var(--error-primary-color);
}

/* Admin */

.admin {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

.admin div {
    margin: 1rem;
}

/* Blog Page */

.blog .post .post-body {
    display: block;
}

.blog .post .post-body .image img {
    max-width: 80%;
}

.blog .post .post-body>.text {
    width: 100%;
}

.blog .post.short h2 {
    font-size: 1.3rem;
    color: var(--text-secondary-color);
    text-transform: none;
}

.blog .post.short {
    background-color: inherit;
    padding: 0;
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
    border-bottom-style: solid;
}

.blog .post.short .post-body {
    display: block;
    padding: 0.5rem;
}

.blog .post.short .post-body:hover {
    background-color: var(--bg-primary-color);
    border-left-width: 1px;
    border-left-color: var(--border-primary-color);
    border-left-style: solid;
}

.blog .post.short .post-body>* {
    padding: 0.5rem;
}

.blog .post.short a {
    display: block;
    padding: 0;
    text-decoration: none;
}

.blog .short .post-authors {
    border: none;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    .blog .post.short .post-authors {
        display: block;
    }
    .blog .post .post-body .image img {
        max-width: 50%;
    }
}

/* Profile */

.profile .perso-details {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-bottom-style: groove;
    border-bottom-width: thin;
    border-bottom-color: var(--border-primary-color);
}

.profile h4 {
    text-transform: none;
}

.profile .blog h2 {
    padding: 1rem;
}

@media (max-width: 1024px) {
    .profile>div {
        padding: 1.5rem 0;
        text-align: center;
    }
    .profile .perso-details {
        display: block
    }
}